﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HeaderFooter.master.cs" Inherits="BTL.HeaderFooter" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href="style/HeaderFooter.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <header class="header">
        <div class="wrapper_header" style="width:92vw;max-width: 1257px;margin: 0 auto;">
            <div class="logo ">
                <a href="/"><img src="./images/logo4.jpg"  style="height: 65px"/></a><br/>
            </div>

            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"> <!-- menu-ion có 3 thanh ngang khi màn hình nhỏ - click 1 lần vào cái này thì thẻ input phía trên được checked, 1 lần nữa thì unchecked-->
            <span class="navicon"></span>
             </label>
            <ul class="menu">
                <li class="search">
                    <div class="">
                        <%--<input  type="text"  name="" /><input type="submit" value="Tìm kiếm" name="" />--%>
                        <asp:TextBox ID="txtsearch" class="t" runat="server" placeholder="   Tìm kiếm sản phẩm..."></asp:TextBox>
                        <asp:Button ID="btnsearch" runat="server" Text="Tìm kiếm" CssClass="btn1 t1" OnClick="btnsearch_Click"/><!--  -->
                    </div>
                </li>
                <li>
                    <a href="/GioHang.aspx">Giỏ hàng(<asp:Label ID="TotalNTBuy" runat="server" Text="0"></asp:Label>)</a>
                    <span id="addedCart"></span>
                </li>               
                <li>
                    <div class="systemshop">
                        <a href="#" title="Hệ thống cửa hàng">Hệ thống cửa hàng</a>
                        <a href="#" title="Hệ thống cửa hàng" class="showroom">(100)Showroom</a>
                    </div>
                </li>
                <li>
                    <div class="loginLogout" id="loginLogout" runat="server">
                        
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div class="empty"></div>
    <!--  -->
    <!-- ==============menu thứ 2================ -->
    <div class="wraper" style="background-color: white;">
        <div class="container-fluid" style="width:92vw;max-width: 1257px;">
            <div id="menu-top">
                <div class="dropdown-menu item-menu-top2">
                    <div id="menu2" class="" align="center">
                        <ul>
                            <li>
                                <a class="dmsp" href="#">
                                    <div class="">
                                        <div class="space"></div>
                                        <div class="icon-dmsp"></div>
                                        <div class="icon-dmsp"></div>
                                        <div class="icon-dmsp"></div>
                                    </div>
                                    <span>DANH MỤC SẢN PHẨM</span>
                                </a>
                                 <asp:Repeater ID="rptDropdownMenu" runat="server">
                                    <HeaderTemplate>
                                        <ul class="sub-menu2">
                                    </HeaderTemplate>
                                    <ItemTemplate>
                                        <li>
                                            <a href='/NoiThat.aspx?searchByTypeID=<%#:Eval("typeNTid") %>' title='<%#:Eval("nameTypeDH") %>' style="font-size: 16px;"> <%#:Eval("nameTypeDH") %></a>
                                        </li>
                                    </ItemTemplate>
                                    <FooterTemplate>
                                       </ul>
                                    </FooterTemplate>
                                </asp:Repeater>  
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item-menu-top2">
                    <div class="dmdh "><a href="./NoiThat.aspx" title="Nội Thất">Nội Thất</a></div>
                    <div class="dmdhi ">
                        <a href="#"><img title="Nội Thất" src="./images/Capture2.png" style="width: 30px; height: 30px" /></a>
                    </div>
                </div>
                <div class="item-menu-top2">
                    <div class="dmdh "><a href="#" title="Phụ kiện Nội Thất">Liên hệ Tháo Lắp</a></div>
                    <div class="dmdhi ">
                        <a href="#"><img title="Phụ kiện Nội Thất" src="./images/Capture3.png" style="width: 30px; height: 30px" /></a>
                    </div>
                </div>
                <div class="item-menu-top2">
                    <div class="dmdh "><a href="#" title="Khuyến mãi">KHUYẾN MÃI</a></div>
                    <div class="dmdhi ">
                        <a href="#"><img title="Đấu giá" src="./images/Capture4.PNG" /></a>
                    </div>
                </div>
                <div class="item-menu-top2  menu-top2-end">
                    <div class="dmdhi  tragop">
                        <a href=""><img title="Trả góp" src="./images/Capture7.PNG" /></a>
                    </div>
                    <div class="dmhitt  tintuc">
                        <a href=""><img title="Tin tức - Sự kiện" src="./images/Capture8.PNG" height="35" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <!-- ==============================Footer =======================-->
    <footer style="width:100%; height: auto; background-color: #352750; margin-top: 30px;">
        <div class="wrapper footer_content" style="width:92vw;margin:0 auto;max-width: 1257px;">
            <div class="" id="menuft">
                <div class="menu_foot">
                    <div class="footer_content1"><span>THÔNG TIN CHUNG</span>
                        <ul class="sub-menu1">
                            <li><a href="#">Giới thiệu chung</a></li>
                            <li><a href="#">Kênh tuyển dụng</a></li>
                            <li><a href="#">Tin tức-Sự kiện</a></li>
                            <li><a href="#">Hệ thống cửa hàng</a></li>
                            <li><a href="#">Cộng đồng khách</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu_foot">
                    <div class="footer_content1"><span>HỖ TRỢ KHÁCH HÀNG</span>
                        <ul class="sub-menu1">
                            <li><a href="#">1.Chính sách bảo hàng</a></li>
                            <li><a href="#">2.Chính sách đổi hàng</a></li>
                            <li><a href="#">3.Chính sách bảo mật</a></li>
                            <li><a href="#">4.Chính sách vận chuyển</a></li>
                            <li><a href="#">5.Hướng dẫn thanh toán</a></li>
                            <li><a href="#">6.Hướng dẫn mua hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu_foot">
                    <div class="footer_content1"><span>HƯỚNG DẪN VÀ TƯ VẤN</span>
                        <ul class="sub-menu1">
                            <li><a href="#">Góc hỏi đáp</a></li>
                            <li><a href="#">Chứng nhận thương hiệu</a></li>
                            <li><a href="#">Tin tức-Sự kiện</a></li>
                            <li><a href="#">Hệ thống cửa hàng</a></li>
                            <li><a href="#">Báo chí về ALT</a></li>
                        </ul>
                    </div>
                </div>
                <div class="img_foot">
                    <div class="contact-online">
                        <div class="footer_content1"><span>HỆ THỐNG CỬA HÀNG</span>
                            <ul class="sub-menu1 ">
                                <li>
                                    <a href="#"><img title="Hệ thống cửa hàng" width="250px" src="./images/photo-1-1470836862788.jpg" /></a>
                                </li>
                                <li>
                                    <a href="#">
                                         Xem hệ thống cửa hàng
                                        </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer_content1"><span>FANPAGE CỦA CHÚNG TÔI</span>
                            <ul class="sub-menu1">
                                <li>
                                    <a href="#"><img width="200px" src="./images/5-buoc-len-ke-hoach-xay-dung-fanpage-2.jpg" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </footer>
    <div class="day" style="width:100%; height: auto; background-color: #000000;">
        <div class="wrapper" style="width:92vw;margin:0 auto;max-width: 1257px;">
            <div class="day_content">

                <div class=" day_content1">
                    <a href="/"><img src="images/logo4.png" style="width: 200px;margin-top: 32px;" /></a>
                </div>

                <div class="day_content2">
                    <div class="day_center"><a href="#">CÔNG TY CỔ PHẦN TRỰC TUYẾN ALT</a>
                        <p>Địa chỉ: 41 Phố ABC, Phường. XYZ, Quận. HAIBABON, NAMSAUBAY</p>
                        <p>Hotline: 1800 XXXX</p>
                        <p>Email: info@alt.vn</p>
                        <p>Website: https://alt.vn</p>
                        <font color="#F9F9F9">NỘI THẤT CAO CẤP - NHẬP KHẨU CHÍNH HÃNG</font>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->

        </div>
    </form>
</body>
</html>
