﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DHControl.ascx.cs" Inherits="BTL.admin.NoiThat.DHControl" %>
<div class="wrapperWatch">
    <div class="link_choose"><a href="?choose=NoiThat&type=category">Loại Nội Thất</a></div>
    <div style="margin:0px 10px;">|</div>
    <div class="link_choose"><a href="?choose=NoiThat&type=detail_1_DH">Chi Tiết Nội Thất</a></div>
</div>